body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../设置（1页）_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:127px;
    top:75px;
    width:320px;
    height:45px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:45px;
}

.u1 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:127px;
    top:84px;
    width:320px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../设置（1页）_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:127px;
    top:55px;
    width:320px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:20px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:137px;
    top:130px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../设置（1页）_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:133px;
    top:220px;
    width:300px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:46px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:137px;
    top:200px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../设置（1页）_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:329px;
    top:226px;
    width:94px;
    height:27px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:94px;
    height:27px;
}

.u10 {
    position:absolute;
    left:2px;
    top:6px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../设置（1页）_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:133px;
    top:290px;
    width:300px;
    height:140px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:146px;
}

.u12 {
    position:absolute;
    left:2px;
    top:62px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:137px;
    top:270px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:401px;
    top:296px;
    width:40px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:141px;
    top:300px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../设置（1页）_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:300px;
    height:3px;
}

.u16 {
    position:absolute;
    left:133px;
    top:322px;
    width:300px;
    height:10px;
    
}

.u17 {
    position:absolute;
    left:141px;
    top:337px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_line {
    background-image: url('../设置（1页）_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:0px;
    top:4px;
    width:300px;
    height:3px;
}

.u18 {
    position:absolute;
    left:133px;
    top:357px;
    width:300px;
    height:10px;
    
}

.u19_normal {
    background-image: url('../设置（1页）_files/u9_normal.png');
}

.u19_container {
    position:absolute;
    left:329px;
    top:331px;
    width:94px;
    height:27px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:94px;
    height:27px;
}

.u20 {
    position:absolute;
    left:2px;
    top:6px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:141px;
    top:372px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../设置（1页）_files/u9_normal.png');
}

.u22_container {
    position:absolute;
    left:329px;
    top:365px;
    width:94px;
    height:27px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:94px;
    height:27px;
}

.u23 {
    position:absolute;
    left:2px;
    top:6px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../设置（1页）_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:133px;
    top:470px;
    width:300px;
    height:220px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:226px;
}

.u25 {
    position:absolute;
    left:2px;
    top:102px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:137px;
    top:450px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:337px;
    top:480px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:141px;
    top:480px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_line {
    background-image: url('../设置（1页）_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:0px;
    top:4px;
    width:300px;
    height:3px;
}

.u29 {
    position:absolute;
    left:133px;
    top:502px;
    width:300px;
    height:10px;
    
}

.u30 {
    position:absolute;
    left:141px;
    top:582px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_line {
    background-image: url('../设置（1页）_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:300px;
    height:3px;
}

.u31 {
    position:absolute;
    left:133px;
    top:537px;
    width:300px;
    height:10px;
    
}

.u32 {
    position:absolute;
    left:141px;
    top:552px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_line {
    background-image: url('../设置（1页）_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:300px;
    height:3px;
}

.u33 {
    position:absolute;
    left:133px;
    top:573px;
    width:300px;
    height:10px;
    
}

.u34_line {
    background-image: url('../设置（1页）_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:0px;
    top:4px;
    width:300px;
    height:3px;
}

.u34 {
    position:absolute;
    left:133px;
    top:608px;
    width:300px;
    height:10px;
    
}

.u35_line {
    background-image: url('../设置（1页）_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:0px;
    top:4px;
    width:300px;
    height:3px;
}

.u35 {
    position:absolute;
    left:133px;
    top:646px;
    width:300px;
    height:10px;
    
}

.u36 {
    position:absolute;
    left:401px;
    top:547px;
    width:40px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:141px;
    top:517px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:401px;
    top:582px;
    width:40px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:141px;
    top:620px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:401px;
    top:615px;
    width:40px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:141px;
    top:660px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:401px;
    top:655px;
    width:40px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:401px;
    top:511px;
    width:40px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u44 {
    position:absolute;
    left:157px;
    top:257px;
    width:251px;
    height:97px;
    overflow:hidden;
}

#pd0u44 {
    position:absolute;
    left:0px;
    top:0px;
    width:251px;
    height:97px;
    
}

.u45_normal {
    background-image: url('../设置（1页）_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:0px;
    width:250px;
    height:96px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:102px;
}

.u46 {
    position:absolute;
    left:2px;
    top:40px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../设置（1页）_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:0px;
    width:250px;
    height:32px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:38px;
}

.u48 {
    position:absolute;
    left:2px;
    top:8px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:160px;
    top:45px;
    width:74px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:19px;
    top:45px;
    width:131px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51_normal {
    background-image: url('../设置（1页）_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:497px;
    top:68px;
    width:320px;
    height:212px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:218px;
}

.u52 {
    position:absolute;
    left:2px;
    top:98px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:522px;
    top:124px;
    width:270px;
    height:33px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:522px;
    top:166px;
    width:270px;
    height:33px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55_normal {
    background-image: url('../设置（1页）_files/Sign_in_button_u55_normal.png');
}

.u55_container {
    position:absolute;
    left:532px;
    top:212px;
    width:145px;
    height:32px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:38px;
}

.u56 {
    position:absolute;
    left:2px;
    top:8px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:604px;
    top:174px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:602px;
    top:132px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../设置（1页）_files/Sign_in_button_u59_normal.png');
}

.u59_container {
    position:absolute;
    left:677px;
    top:212px;
    width:101px;
    height:32px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:38px;
}

.u60 {
    position:absolute;
    left:2px;
    top:8px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../设置（1页）_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:522px;
    top:124px;
    width:75px;
    height:33px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:39px;
}

.u62 {
    position:absolute;
    left:2px;
    top:8px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../设置（1页）_files/u61_normal.png');
}

.u63_container {
    position:absolute;
    left:522px;
    top:166px;
    width:75px;
    height:33px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:39px;
}

.u64 {
    position:absolute;
    left:2px;
    top:8px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../设置（1页）_files/u0_normal.png');
}

.u65_container {
    position:absolute;
    left:497px;
    top:68px;
    width:320px;
    height:45px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:45px;
}

.u66 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:497px;
    top:80px;
    width:320px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../设置（1页）_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:502px;
    top:74px;
    width:65px;
    height:32px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:32px;
}

.u69 {
    position:absolute;
    left:2px;
    top:8px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:512px;
    top:82px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u71 {
    position:absolute;
    left:532px;
    top:212px;
    width:145px;
    height:32px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u72 {
    position:absolute;
    left:502px;
    top:74px;
    width:70px;
    height:32px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u73_normal {
    background-image: url('../设置（1页）_files/u6_normal.png');
}

.u73_container {
    position:absolute;
    left:133px;
    top:150px;
    width:300px;
    height:40px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:46px;
}

.u74 {
    position:absolute;
    left:2px;
    top:12px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:393px;
    top:162px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../设置（1页）_files/u6_normal.png');
}

.u76_container {
    position:absolute;
    left:875px;
    top:151px;
    width:300px;
    height:40px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:46px;
}

.u77 {
    position:absolute;
    left:2px;
    top:12px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:1115px;
    top:159px;
    width:50px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79_normal {
    background-image: url('../设置（1页）_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:449px;
    top:147px;
    width:38px;
    height:47px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:53px;
}

.u80 {
    position:absolute;
    left:2px;
    top:16px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../设置（1页）_files/u79_normal.png');
}

.u81_container {
    position:absolute;
    left:827px;
    top:147px;
    width:38px;
    height:47px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:53px;
}

.u82 {
    position:absolute;
    left:2px;
    top:16px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:462px;
    top:290px;
    width:150px;
    height:336px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_line {
    background-image: url('../设置（1页）_files/u84_line.png');
}

.u84_line {
    position:absolute;
    left:0px;
    top:4px;
    width:300px;
    height:3px;
}

.u84 {
    position:absolute;
    left:133px;
    top:390px;
    width:300px;
    height:10px;
    
}

.u85 {
    position:absolute;
    left:141px;
    top:405px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../设置（1页）_files/u9_normal.png');
}

.u86_container {
    position:absolute;
    left:329px;
    top:398px;
    width:94px;
    height:27px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:94px;
    height:27px;
}

.u87 {
    position:absolute;
    left:2px;
    top:6px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:560px;
    top:254px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

